pandas
numpy
scikit-learn
mlflow

flask==2.3.2          # Framework web
gunicorn==20.1.0      # Servidor WSGI para produção
pandas==2.0.3         # Manipulação de dados
requests==2.31.0      # Chamadas HTTP ao serviço de modelo
xgboost==2.0.3